{
  "parserOptions": {
    "ecmaVersion": 2019, // ecma 문법 버전
    "sourceType": "module", // import, export 사용한다는 의미
    "ecmaFeatures": {
      "jsx": true // jsx 사용
    }
  },
  "env": {
    "browser": true, // 브라우저 사용
    "node": true // 브라우저도 노드 사용함
  },
  "extends": ["airbnb"],
  "plugins": ["import", "react", "react-hooks"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off"
  }
}
